* {
    margin: 0;
    padding: 0;
}


.generalblock {
    width: 1600px;
    padding: 25px 231px 24px 227px;
    border: solid 1px #ececec;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;

}

#icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.text {
    width: 94px;
    height: 27px;
    margin: 17px 36.7px 7px 12.3px;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.68px;
    text-align: center;
}

span:first-child {
    color: #222222;
}

span:last-child {
    color: #f16d7f;
    font-weight: bold;

}

span2:first-child {
    color: #222222;

}

span2:last-child {
    color: #f16d7f;
    font-weight: bold;
}

span3:first-child {
   font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.86;
    letter-spacing: 0.35px;
    text-align: center;
    color: #222224;
    margin-right: 81px;

}

span3:last-child {
   font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.86;
    letter-spacing: 0.35px;
    text-align: center;
    color: #222224;
    margin-left: -65px;;
}

span4:first-child {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
}

span4:last-child {
    font-size: 30px;

    color: #f16d7f;
}

span5:first-child {
    font-family: Lato;
  font-size: 16px;
  font-weight: bold;
    color: #f16d7f;
}

span5:last-child {
    font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #222224;
}
span6:first-child {
      color: #ffffff;}

span6:last-child {
color: #f16d7f;
}



.input {
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
}

button {
    position: relative;
    left: -28px;
    top: 3px;
    border: solid 1px white;
    background-color: white;
}


input[type=text2] {
    height: 38px;
    width: 317px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 0.35px;
    text-align: left;
    color: #a4a4a4;
    padding-left: 16px;
}

input[type=text3] {
    height: 38px;
    width: 23px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 0.35px;
    text-align: left;
    color: #a4a4a4;
    padding-left: 16px;
}

.shop {}




.browse {
    width: 87px;
    height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
    background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.35px;
    color: #222222;
}

.MyAccount {
    width: 130px;
    height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
    background-color: #f16d7f;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.35px;
    color: #ffffff;
    margin-left: 26px;
}



.basket {
    margin-left: 231px;

}

.basket2 {
    margin-left: 695px;
    margin-top: -78px;

}

.MyAccount2 {
    width: 212px;
    height: 48px;
    text-align: center;
    border: solid 1px #e6e6e6;
    background-color: #f16d7f;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.35px;
    color: #ffffff;
    margin-left: 26px;
}

/*

.menu {
    width: 1600px;
    height: 51px;
    padding: 18px 383px 19px 460px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
*/

table2 {
    border-spacing: 7px 11px;
}

.menu2 {
    display: flex;
    align-items: flex-start;
    width: 1600px;
    height: 51px;
    padding: 18px 460px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}

.box {

    display: inline-block;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}

.menu {

    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-left: 432px;

}

.menutext {
    text-decoration: none;
    color: black;
    margin-left: 35px;
}


.mangrey {
    background-color: #e8e8e8;
}

.tex {
    text-align: left
}


.greyman {
    width: 100%;
    padding: 0px 444px;
    background-color: #e8e8e8;
    max-height: 625px;
    margin-top: 19px;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    padding: 0px 230px;
    width: 494px;
    height: 128px;
    font-family: Lato;
    font-size: 59.9px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 7.5;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}

.Brad {
    position: absolute;
    top: 300px;
    left: 0;
    padding: 0px 230px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 9.8;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;

}

.project_parent {
    display: flex;
    margin-top: 98px;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
}

.project_item_margin {
    margin-right: 32px;
}

.pictures {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    max-width: 1100px;
    margin: 0 auto;
}

.123 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 0px 500px;
    width: 494px;
    height: 128px;
    font-family: Lato;
    font-size: 59.9px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: left;
    color: #222222;
}
}

.321 {
    font-size: 40px;
    letter-spacing: 1.5px;
}

.582 {
    color: #f16d7f;
    font-size: 40px;
}

.table {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    margin-top: 65px;
    max-width: 1140px;
    margin: 0px 0px 0px 230px;

}

.img2 {
    height: 261px;
    width: 560px;
}

style {}

.qwe {}

.mon {
    margin-top: 20px;
}

.bo {
    margin-top: 20px;
}

li {
    list-style-type: none
}

.FeturedItems {
    margin: 0 473.6px 9px 471.4px;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
}

.FeturedItems2 {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    color: #9f9f9f;
    margin: 9px 392.8px 58px 392.2px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {}

.table3 {

    justify-content: space-around;
    padding-top: 64px;
    max-width: 1140px;
    margin: -18px 0px 39px 183px;
}

.shopimg {
    margin-right: 20px;
    width: 259px;
    height: 279px;
    margin-bottom: 20px;
}

.mega-box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 611px;
    display: none;

}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    left: 36px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}


.mega-menu-link {
    display: block;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 25px;
}

.mega-menu-link:hover {
    color: #f16d7f;
}


.mega-hedding {
    width: 235px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}



.menu-list {
    display: inline-block;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}

.menu-list:hover .mega-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;

}

.menu-link {
    text-decoration: none;
    color: black;
    margin-left: 35px;

}

.mega-flex {
    margin-right: 46px;

}

.mega-flex:last-of-type {
    margin-right: 0;
}

mega-flex: last-of-type {
    margin-right: 0;
}

.mega-flex: last-of-type {
    margin-right: 0;
}

.menu-list2 {
    position: relative;
    font-family: Lato;
    font-weight: bold;
    line-height: 1.86;
    color: #222222;
    font-size: 14px;

}

.nav {
    position: relative;
}

.BrowseAll {
    margin: 78px 465px 0 462px;
    padding: 16px 15.9px 15px 24.2px;
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
}

#icon2 {
    align-items: center;
    text-decoration: none;
}

.girlinblack {margin-left:229px;
    margin-top: 113px;
margin-bottom: 97px;}
      
}

.sea {
      opacity: 0.55;
    /* margin-top: 97px; */
    background-image: url(img/sea.png);
    width: 1600px;
    border: solid 1px #ececec;
    background-color: #ffffff;
    align-items: flex-end;
    height: 587px;
}

.sea2 {
        margin-left: 230px;
    margin-top: 111px;
    position: absolute;
}

.sea3 {

    position: absolute;
    margin-left: 359px;
    margin-top: 122px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #222224;
}

.sea4 {

    position: absolute;
    margin-left: 230px;
    margin-top: 111px;
}

.message {
    position: absolute;
    margin-left: 1003px;
    margin-top: 111px;
    text-align: center;
}

.email {
    margin: -11px 52px 0 0;
    padding: 13px 151.8px 7px 20.2px;
    border-radius: 23px;
    background-color: #e1e1e1;
}

.button {
    width: 91px;
    height: 39px;
    margin: 132px 0 0px 282px;
    padding: 17px 36.8px 15px 21.2px;
    background-color: #f16d7f;
    border-radius: 23px;
    position: absolute;
}

.subscribe {
    width: 62px;
    height: 14px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 3.86; */
    letter-spacing: 0.35px;
    text-align: center;
    color: #ffffff;
    margin-top: -5px;
    margin-left: -6px;
}

.generalblock2 {
    width: 1600px;
    padding: 25px 231px 24px 227px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    margin-top: 109px;

}

.COMPANY {
    width: 94px;
    height: 18px;
    margin: -30px 8px 12px 251px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.45px;
    text-align: left;
    color: #f16d7f;
}

.INFORMATION {
    width: 94px;
    height: 18px;
    margin: -30px 8px 12px 202px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.45px;
    text-align: left;
    color: #f16d7f;
}

.entee {
    width: 106px;
    height: 14px;
    opacity: 0.67;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.86;
    letter-spacing: 0.35px;
    text-align: center;
    color: #222224;
    margin-top: -46px;
    margin-left: 31px;
}

.SHOPCATEGORY {
    width: 155px;
    height: 18px;
    margin: -30px 8px 12px 106px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.45px;
    text-align: left;
    color: #f16d7f;
}

.textfooter {
    width: 415.5px;
    height: 222.7px;
    margin: 28.2px 59.5px 211.1px 229px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #898989;
}

.generalblock3 {
    width: 1600px;
    display: flex;
    align-items: flex-end;
    margin-top: -76px;
    margin-left: -19px;
}


.table2 {

    justify-content: space-around;
    padding-top: 64px;
    max-width: 1140px;
    margin: -18px 0px 144px 14px;
}

.left2 {
    height: 311px;
    margin: 39px 0 0 1px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.69;
    letter-spacing: 0.4px;
    text-align: left;
    color: #898989;
}

.left3 {
    height: 311px;
    margin: 39px 0 0 1px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.69;
    letter-spacing: 0.4px;
    text-align: left;
    color: #898989;
}

.left4 {
    height: 311px;
    margin: 39px 0 0 1px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.69;
    letter-spacing: 0.4px;
    text-align: left;
    color: #898989;
}

.table4 {

    justify-content: space-around;
    padding-top: 64px;
    max-width: 1140px;
    margin: -18px 0px 144px 110px;
}

#icon3 {
    align-items: center;
    text-decoration: none;
    color: #898989;
}

.fet {
    position: relative;
    padding-bottom: 59px;
}

.table5 {
    justify-content: space-around;
    padding-top: 64px;
    max-width: 1140px;
    margin: -18px 0px 144px 184px;
}

.footerf {
    width: 1980px;
    height: 79px;

    background-color: #e6e6e6;
}

.footerc {
    width: 264px;
    height: 16px;
    margin: 0px 686px 0px 228px;
    padding: 31px 0px 0px 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.63; */
    letter-spacing: 0.4px;
    text-align: left;
    color: #7a7a7a;
}

.network {
    margin-left: 1199px;
    margin-top: -26px;
}

.newarrivals {
    width: 1980px;
    height: 148px;
    background-color: #f8f3f4;

}


.shoping {
    margin: 0px 0px 0px 53px;
}

.item-link {
    display: block;
    /* width: 263px; */
    text-decoration: none;
}


.item {
    width: 263px;

}

.item-txt-box {
    padding: 15px;
}

.item-desc {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.item-price {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
}

.item-flex {
    margin-top: 60px;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
}

.item-box {
    margin-left: 232px;
}

.item:hover {
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.item:hover .add-box {
    display: flex;
}

.suit:hover .item-img {
    filter: brightness(50%);

}

.item {
    position: relative;
    margin-bottom: 40px;
}

.item-img {
    width: 100%;
}



.add-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}

.add-box {
    position: absolute;
    display: none;
    top: 98px;
    justify-content: center;
    width: 100%;
}

.add {
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #000;
    border-color: white;

}

.add:hover {
    box-shadow: 0 0 10px #fff;

}

.container2 {
    margin-top: 99px;

}


.item:hover .item-img {
    filter: brightness(50%);

}



.item-img2 {
    max-height: 541px;
}

.left:hover .item-img2 {
    filter: brightness(50%);

}

.boxbox {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    margin-top: 65px;
    margin-left: 230px;
    max-width: 1264px;
    /* margin: 0px 0px 0px 72px; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    max-width: 1140px;
}

.add-text2 {
    color: black;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}




.MyAccoun2t {
    width: 168px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    /* line-height: 2.7; */
    /* letter-spacing: 0.35px; */
    color: #000000;
    /* margin: 30px; */
    position: absolute;
    margin-top: -513px;
    margin-left: 0;
    font-weight: bold;
}

.left {
    margin: 20px 0 0 0;
}

.MyAccoun3t {
    width: 202px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    /* line-height: 2.7; */
    /* letter-spacing: 0.35px; */
    color: #000000;
    /* margin: 30px; */
    position: absolute;
    margin-top: -221px;
    margin-left: 0;
    font-weight: bold;
}

.MyAccoun4t {
    width: 186px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    /* line-height: 2.7; */
    /* letter-spacing: 0.35px; */
    color: #000000;
    /* margin: 30px; */
    position: absolute;
    margin-top: -229px;
    margin-left: 0;
    font-weight: bold;
}

.MyAccoun5t {
    width: 186px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    /* line-height: 2.7; */
    /* letter-spacing: 0.35px; */
    color: #000000;
    /* margin: 30px; */
    position: absolute;
    margin-top: -504px;
    margin-left: 0;
    font-weight: bold;
}

.MyAccount-text {
    height: 70px;
    width: 163px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -9px;
}

.MyAccoun3t-text {
    height: 70px;
    width: 184px;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: -9px;
}

.MyAccoun4t-text {
    height: 70px;
    width: 184px;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: -9px;

}

.MyAccoun5t-text {
    height: 70px;
    width: 184px;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: -9px;
}

.item-desc2 {
    
}

.item2 {
    position: relative;
    margin-top: 64px;
}

.item-txt-box2 {}

.item-flex2 {
    margin-top: 19px;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
}

.item-txt-box3 {}

.item3 {
    width: 263px;
    position: relative;

    margin-top: 68px;
}

.newar {
    text-decoration: none;
     font-family: Lato;
  font-size: 14px;
  font-weight: 300;
    color: #636363;
    font-weight: bold;
}

.newar2 {
    text-decoration: none;
     font-family: Lato;
  font-size: 14px;
  font-weight: 300;
    color: #f16d7f;
    font-weight: bold;
}

.newar3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    color: #f16d7f;
    text-decoration: none;
}


.lomer {
}

.listofproducts {
    margin-top: 60px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
}

.item-flex3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;}




.pagenavex {
        width: 188px;
    height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
    /* background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5); */
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.35px;
    color: #ffffff;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-around;
}

.page-link {
        text-decoration: none;
    color: #c4c4c4;
}



.navig {
    display: flex;
    justify-content: space-between;
}

.MyAccount3 {
    width: 130px;
    height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.35px;
    color: #ef5b70;
    margin-left: 26px;
}

.item-flex4 {
margin-top: 19px;
    margin-bottom: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
}

.footerf2 {
      width: 1980px;
    height: 79px;    

    background-color: black;
}

.footerf3 {
       width: 1600px;
    height: 341px;
    background-color: black;
}


.item-flex5 {
      margin-bottom: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    align-items: center;
    padding-top: 89px;

    
}

.newar4 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
   color: #fbfbfb;
    text-decoration: none;
}

.box-img {
margin-left: 149px;
    padding-bottom: 32px;

}

.item-box2 {
   
   margin-left: 232px;
    height: 587px;

}

.item4 {
          position: relative;
}

.footerf4 {
    height: 500px ;
}

.item-desc3 {
    padding-bottom: 16.1px;
}

.item-desc4 {
       width: 329px;
    
    font-family: Lato;
    font-size: 14px;
    font-stretch: normal;
  
    color: #fbfbfb;
}

.item-txt-box4 {
      text-align: center;
}






.item5 {
    position: relative;
}

.sea5 {
       position: absolute;
    margin-left: 359px;
    margin-top: 208px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #222224;
}

.subscribe-box {
     width: 1600px;
    height: 438px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(img/sea.png);
}

.gb {
}

.sea6 {
    position: absolute;
}

.sea7 {
position: absolute;
    margin-top: -448px;
    margin-left: 36.7px;
    font-family: Lato;
    font-size: 53.6px;
    font-weight: bold;
}

.sea8 {
position: absolute;
    margin-top: -373px;
    margin-left: 36.7px;
    font-family: Lato;
    font-size: 32.2px;
    font-weight: bold;
    color: #ffffff;
}




.item-desc5 {
    
   
   
}

.newar5 {
   font-family: Lato;
  font-size: 20px;
  font-weight: bold;
color: #fbfbfb;
    text-decoration: none;
}

.message2 {
position: absolute;
    max-width: 343px;
    margin-left: 805px;
    margin-top: -475px;
    /* margin-top: 111px; */
    /* text-align: center;  */ 
}

.message3 {
        position: absolute;
    max-width: 343px;
    margin-left: 805px;
    margin-top: -543px;
}



.item9 {
  margin-top: 71px;
}

.item10 {
         margin-top: 114px;
}

.item11 {
     margin-top: 112px
}

.item6 {
      max-width: 250px;
    margin-left: 68px;
    margin-top: 10px;
}

.item7 {
  max-width: 250px;
    margin-left: 68px;
    margin-top: 57px;
}

.item8 {
       max-width: 250px;
    margin-left: 68px;
    margin-top: 65px;
}

.item-desc6 {
     font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    color: #fbfbfb;
    line-height: 1.71;
    letter-spacing: 0.35px;
}

.general {
    
}
